/* Our default values set as CSS variables (colors from https://www.colourlovers.com/palette/1902759/Educating_Eve) */
:root {
  --color-dark: #624D32;
  --color-highlight: #EE7143;
  --color-light: #F0EBCE;
  --font-family: "Arial";
  --font-family-header: "HK Grotesk";
  --padding-big: 60px;
  --padding-medium: 30px;
  --padding-small: 15px;
  --padding-tiny: 7px;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Main tag that setup hierarchy of information */
body {
  font-family: HK Grotesk, sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: var(--color-light);
  color: var(--color-highlight);
  padding: var(--padding-big);
  margin: 0px;
}

footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: var(--padding-medium);
  margin: 0px;
  margin-top: var(--padding-big);
}

.content {
  margin: var(--padding-medium);
}

/* controls */
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none; /* remove the dots */
}
li {
  display: inline-block; /* put items next to each other */
  padding: var(--padding-tiny) var(--padding-small);
  border: 1px solid var(--color-highlight);
  margin: 0px var(--padding-tiny);
  cursor: pointer; /* show a hand on hover */
}
li:first-child {
  margin-left: 0px; /* make sure first item is _not_ indented with margin on other li elements */
}

